<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../templates/style.css">
    <title>{%block content%}Lab 13{%end block%}</title>
</head>
<body>             
    {% comment %} <h1>Welcome to Flask {{username}}</h1>
    <img src="./pexels-fox-photography-1591597002-31829947.jpg" width="300px" />
    <section class="maincontainer">
        <ul>
            {%for eachfruit in listfruits%} 
            <li>{{eachfruit}}</li>
            {% endfor %}
        </ul>

        {%if "kiwi" in listfruits%}
        <h2>Kiwi is in the list</h2>
        {% endif %}

    </section> {% endcomment %}

    <header class="title">
        Welcome to my base page
    </header>
    <main class="maincontainer">
        {%block content%}{%end block%}
    </main>
    <footer class="footer">
        <p>Copyright &copy; 2023</p>
    </footer>

</body>
</html>