:root {
  --text-color: rgb(249, 239, 35);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  /* background-color: black; */
  scroll-behavior: smooth;
}

/* navbar */

.navbar li {
  display: flex;
  list-style-type: none;
  padding: 5px;
  position: sticky;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 14px 20px;
  display: block;
}

.navbar a:hover {
  background-color: #575757;
}

.navbar .logo {
  font-size: 1.5em;
  font-weight: bold;
}

.navbar .menu {
  display: flex;
}

.navbar .menu a {
  margin-left: 10px;
}

/* media queries */
@media (max-width: 768px) {
  .navbar .menu {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .navbar .menu a {
    margin: 0;
    padding: 10px;
    text-align: center;
  }

  .navbar .menu.active {
    display: flex;
  }

  .navbar .toggle {
    display: block;
    cursor: pointer;
  }
}
/* media queries */

.toggle {
  display: none;
  font-size: 1.5em;
  color: white;
}

/* navbar */
.img1 {
  width: 100%;
  height: 100%;
}

/* hero */

.exersicecontainer {
  position: relative;
}

.textcontainer {
  position: absolute;
  top: 75px;
  left: 70px;
  width: 935px;
  height: 562px;
}

.text1 {
  position: absolute;
  width: 800px;
  height: 105px;
  font-size: 100px;
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
  color: white;
  inset: 350px 469px 240px 350px;
  line-height: 144px;
  letter-spacing: 0em;
}

.text1 span {
  font-size: 1em;
  font-weight: 900;
  font-style: italic;
  color: var(--text-color) !important;
  text-decoration: none;
}

.text2 {
  position: absolute;
  color: white;
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  inset: 0px 632px 492px 41px;
}

.btn_overlay {
  position: absolute;
  background-color: var(--text-color) !important;
  inset: 95% 468px 36px 65%;
  width: 26%;
  height: 10%;
  margin: auto;
  border-radius: 10px;
}

.btn_overlay_p {
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
}

/* hero */

/* about */

.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

/* about */

/* offer */

/* .parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 0px;
} */

/* offer */

/* beforeandafter */



/* beforeandafter */
